$color-accent: #EB0673;
$color-text: #333333;
$color-secondary: #d7d7d7;
$padding: 8px;
$border-radius: 4px;

// icon
.oshi-icon {
    width: 100%;
    height: auto;
}

// layout
.l-section {
    margin: $padding;
}

// main content
.oshi-settings {
    z-index: 100000000 !important;
    position: fixed !important;
    bottom: 0px !important;
    right: 0px !important;
    font-family: 'メイリオ', 'Meiryo', sans-serif !important;
    width: 240px !important;
    font-size: 13px !important;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 50%), -1px 1px 4px 0 rgb(0 0 0 / 30%) !important;
    background: white !important;
    color: $color-text !important;
    visibility: hidden;
}

.oshi-settings.visible {
    visibility: visible;
}

// toolbar
.oshi-toolbar {
    display: flex !important;
    justify-content: space-between;
    padding: $padding;
    background: $color-secondary;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.oshi-app-logo {
    vertical-align: middle;
    width: 28px;
    height: auto;
    background-size: cover;
    display: inline-block;
    margin-right: 4px;
}

// close button
.oshi-app-close {
    position: relative;
    cursor: pointer;
    width: 48px;
}

.oshi-app-close:hover::before, .oshi-app-close:hover::after{
    background: #515457;
}
.oshi-app-close::before, .oshi-app-close::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 4px;
    height: 24px;
    border-radius: 2.5px;
    background: #8C8C8C;
}
.oshi-app-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.oshi-app-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

// balance
.balance-item {
    margin-bottom: $padding;

    &__input {
        padding: $padding;
        border: 1px solid $color-secondary;
        border-radius: $border-radius;
        width: 90%;
        box-sizing: border-box !important;
        font-size: 12px;
        margin-left: 8px;

        // border-left: 3px solid #EB0673;
    }
}

// form content
.oshi-form-item {
    width: 100%;
    margin-bottom: $padding;

    &__label {
        margin-bottom: 4px;
        padding-left: $padding;
        border-left: 5.5px solid $color-accent;
    }
    &__input {
        padding: $padding;
        border: 1px solid $color-secondary;
        border-radius: $border-radius;
        width: 90%;
        box-sizing: border-box !important;
        font-size: 12px;
        margin-left: 8px;

        // border-left: 3px solid #EB0673;
    }
}
.oshi-btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-weight: bold !important;
    margin: $padding auto;
    display: block;
    padding: 10px 20px;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    background: $color-secondary;
    margin-top: $padding;

    transition: background-color 0.3s;

    &:hover {
        background-color: $color-accent;
        // color: $color-secondary;
    }
}

.balance-btn {
    @extend .oshi-btn
}

// ================ icon button ================

.oshi_settings_icon {
    position: fixed !important;
    right: 1rem !important;
    bottom: 1rem !important;
    z-index: 100000 !important;
    width: 48px !important;
    filter: drop-shadow(2px 2px 4px #bebebe);
    cursor: pointer !important;

    transition: all 0.2s;

    &:hover {
        transform: translateY(-5px);
    }
}
